In [113]:
import pandas as pd
import sqlalchemy as db

***Read data from Excel file***

In [109]:
employees = pd.read_excel("H+ Sport Employees.xlsx", sheet_name='Employees-Table')

In [110]:
employees.drop_duplicates()

,Employee Name,Building,Department,Status,Hire Date,Month,Years,Benefits,Salary,Job Rating,New Salary,Tax Rate,2.91%
0,"Page, Lisa",West,ADC,Full Time,1999-01-11,Jan,25,DMR,24550,1,NaN,NaN,NaN
1,"Taylor, Hector",West,ADC,Half-Time,2011-02-21,Feb,12,DM,26795,4,NaN,NaN,NaN
2,"Dawson, Jonathan",West,ADC,Contract,2007-03-06,Mar,16,NaN,42540,5,NaN,NaN,NaN
3,"Duran, Brian",Taft,ADC,Hourly,2012-08-30,Aug,11,NaN,35680,2,NaN,NaN,NaN
4,"Weber, Larry",Watson,ADC,Full Time,2007-12-31,Dec,16,M,72830,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
736,"Olsen, Ewan",North,Research/Development,Contract,2007-02-03,Feb,16,NaN,60760,2,NaN,NaN,NaN
737,"Green, Kim",Watson,Research/Development,Half-Time,2000-02-01,Feb,23,DMR,31250,2,NaN,NaN,NaN
738,"Bradshaw, Sheryl",North,Research/Development,Contract,2008-07-10,Jul,15,NaN,64720,5,NaN,NaN,NaN
739,"Riley, David",Taft,Research/Development,Full Time,2010-07-25,Jul,13,DMR,46680,1,NaN,NaN,NaN
740,"Flynn, Melissa",Watson,Research/Development,Hourly,2010-12-31,Dec,13,NaN,19044,1,NaN,NaN,NaN

In [115]:
engine = db.create_engine('postgresql://tifwqjsh:mB2WRPrTia0MwJdWH2RQiZujAheiCfzU@salt.db.elephantsql.com/tifwqjsh')

In [116]:
employees.to_sql("employees", engine, if_exists="replace", index=False)

741