***Import SQLAlchemy***

In [83]:
import pandas as pd
import sqlalchemy as db

***Read Excel file***

In [84]:
customers = pd.read_excel("H+ Sport Customers.xlsx", sheet_name="data")

***Drop duplicate records***

In [85]:
customers.drop_duplicates()

,CustomerID,FirstName,LastName,Email,Phone,Address,City,State,Zipcode
0,100,Carol,Shaw,cshaw0@mlb.com,(206)804-8771,8157 Longview Court,Seattle,WA,98121
1,101,Elizabeth,Carr,ecarr1@oracle.com,(512)187-2507,3934 Petterle Trail,Austin,TX,78732
2,102,Ernest,Ramos,eramos2@plala.or.jp,(816)540-4257,8699 Clarendon Terrace,Kansas City,MO,64199
3,103,Jane,Carter,jcarter3@harvard.edu,(214)839-0542,2830 Novick Lane,Irving,TX,75037
4,104,Martha,Cooper,mcooper4@go.com,(727)235-5696,4537 Hoard Lane,Tampa,FL,33625
...,...,...,...,...,...,...,...,...,...
1024,1124,Russell,Lawson,rlawsonnm@ebay.com,(979)278-7081,1862 Hoffman Terrace,College Station,TX,77844
1025,1125,Richard,George,rgeorgenn@usda.gov,(614)750-2828,4 Doe Crossing Parkway,Columbus,OH,43226
1026,1126,Cheryl,Moore,cmooreno@networksolutions.com,(253)648-0305,2849 Badeau Trail,Tacoma,WA,98411
1027,1127,Sarah,Sims,ssimsnp@issuu.com,(619)409-5898,2386 Springs Park,San Diego,CA,92191
1028,1128,Lori,Little,llittlenq@alibaba.com,(702)579-9171,46474 Cambridge Lane,Las Vegas,NV,89105

In [86]:
customers

,CustomerID,FirstName,LastName,Email,Phone,Address,City,State,Zipcode
0,100,Carol,Shaw,cshaw0@mlb.com,(206)804-8771,8157 Longview Court,Seattle,WA,98121
1,101,Elizabeth,Carr,ecarr1@oracle.com,(512)187-2507,3934 Petterle Trail,Austin,TX,78732
2,102,Ernest,Ramos,eramos2@plala.or.jp,(816)540-4257,8699 Clarendon Terrace,Kansas City,MO,64199
3,103,Jane,Carter,jcarter3@harvard.edu,(214)839-0542,2830 Novick Lane,Irving,TX,75037
4,104,Martha,Cooper,mcooper4@go.com,(727)235-5696,4537 Hoard Lane,Tampa,FL,33625
...,...,...,...,...,...,...,...,...,...
1024,1124,Russell,Lawson,rlawsonnm@ebay.com,(979)278-7081,1862 Hoffman Terrace,College Station,TX,77844
1025,1125,Richard,George,rgeorgenn@usda.gov,(614)750-2828,4 Doe Crossing Parkway,Columbus,OH,43226
1026,1126,Cheryl,Moore,cmooreno@networksolutions.com,(253)648-0305,2849 Badeau Trail,Tacoma,WA,98411
1027,1127,Sarah,Sims,ssimsnp@issuu.com,(619)409-5898,2386 Springs Park,San Diego,CA,92191
1028,1128,Lori,Little,llittlenq@alibaba.com,(702)579-9171,46474 Cambridge Lane,Las Vegas,NV,89105

***Drop a column from data set***

In [87]:
customers = customers.drop(columns="Zipcode")

In [88]:
customers

,CustomerID,FirstName,LastName,Email,Phone,Address,City,State
0,100,Carol,Shaw,cshaw0@mlb.com,(206)804-8771,8157 Longview Court,Seattle,WA
1,101,Elizabeth,Carr,ecarr1@oracle.com,(512)187-2507,3934 Petterle Trail,Austin,TX
2,102,Ernest,Ramos,eramos2@plala.or.jp,(816)540-4257,8699 Clarendon Terrace,Kansas City,MO
3,103,Jane,Carter,jcarter3@harvard.edu,(214)839-0542,2830 Novick Lane,Irving,TX
4,104,Martha,Cooper,mcooper4@go.com,(727)235-5696,4537 Hoard Lane,Tampa,FL
...,...,...,...,...,...,...,...,...
1024,1124,Russell,Lawson,rlawsonnm@ebay.com,(979)278-7081,1862 Hoffman Terrace,College Station,TX
1025,1125,Richard,George,rgeorgenn@usda.gov,(614)750-2828,4 Doe Crossing Parkway,Columbus,OH
1026,1126,Cheryl,Moore,cmooreno@networksolutions.com,(253)648-0305,2849 Badeau Trail,Tacoma,WA
1027,1127,Sarah,Sims,ssimsnp@issuu.com,(619)409-5898,2386 Springs Park,San Diego,CA
1028,1128,Lori,Little,llittlenq@alibaba.com,(702)579-9171,46474 Cambridge Lane,Las Vegas,NV

***Connect to database***

In [103]:
# db.create_engine('dialect+driver://username:password@host:port/database')
engine = db.create_engine('postgresql://tifwqjsh:mB2WRPrTia0MwJdWH2RQiZujAheiCfzU@salt.db.elephantsql.com/tifwqjsh')

***Insert Data from excel file into database***

In [104]:
customers.to_sql("customers", engine, if_exists='replace', index=False)

29